@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: black;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

// .slick-list {

//     .slick-loading & {
//         @include spinner;
//     }

// }

/* Icons */
// @if $slick-font-family == "slick" {
//     @font-face {
//         font-family: "slick";
//         src: slick-font-url("slick.eot");
//         src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
//         font-weight: normal;
//         font-style: normal;
//     }
// }

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: rem-calc(40);
    width: rem-calc(75);
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    top: 50%;
    padding: 0;
    border: none;
    outline: none;
    z-index: 999;
    transition: background-color $transition-time;
    background-color: rgba($black, 0.2);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='99' height='35' viewBox='0 0 99 35'%3E%3Cpath fill='#{$arrow-colour}' d='M0,0.7976 C4.25,3.3596 8.428,6.0286 12.645,8.6416 C16.834,11.2946 21.018,13.9556 25.18,16.6496 L37.647,24.7606 L49.498,32.5976 L61.347,24.7586 C65.503,22.0546 69.637,19.3196 73.814,16.6476 C77.976,13.9536 82.159,11.2916 86.349,8.6396 C90.566,6.0276 94.745,3.3586 98.995,0.7976 C94.996,3.7366 90.925,6.5666 86.893,9.4546 C82.833,12.3026 78.767,15.1406 74.679,17.9456 C70.606,20.7736 66.491,23.5376 62.397,26.3346 L50.052,34.6276 L49.498,34.9996 L48.943,34.6276 L36.599,26.3316 L24.318,17.9436 C20.23,15.1376 16.164,12.2996 12.104,9.4526 C8.071,6.5656 4,3.7346 0,0.7976'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: rem-calc(60);

    &:hover,
    &:focus {
        outline: none;
        background-color: rgba($black, 0.5);
        color: transparent;
    }

    &.slick-disabled {
        @extend .hide;
    }

}

.slick-prev {
    left: rem-calc(30);
    transform: translate(0, -50%) rotate(90deg);

    @include breakpoint(small only) {
        left: rem-calc(10);
    }

}

.slick-next {
    right: rem-calc(30);
    transform: translate(0, -50%) rotate(-90deg);

    @include breakpoint(small only) {
        right: rem-calc(10);
    }

}

// /* Dots */

// .slick-dotted.slick-slider {
//     margin-bottom: 30px;
// }

// .slick-dots {
//     position: absolute;
//     bottom: -25px;
//     list-style: none;
//     display: block;
//     text-align: center;
//     padding: 0;
//     width: 100%;
//     li {
//         position: relative;
//         display: inline-block;
//         height: 20px;
//         width: 20px;
//         margin: 0 5px;
//         padding: 0;
//         cursor: pointer;
//         button {
//             border: 0;
//             background: transparent;
//             display: block;
//             height: 20px;
//             width: 20px;
//             outline: none;
//             line-height: 0px;
//             font-size: 0px;
//             color: transparent;
//             padding: 5px;
//             cursor: pointer;
//             &:hover, &:focus {
//                 outline: none;
//                 &:before {
//                     opacity: $slick-opacity-on-hover;
//                 }
//             }
//             &:before {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 content: $slick-dot-character;
//                 width: 20px;
//                 height: 20px;
//                 font-family: $slick-font-family;
//                 font-size: $slick-dot-size;
//                 line-height: 20px;
//                 text-align: center;
//                 color: $slick-dot-color;
//                 opacity: $slick-opacity-not-active;
//                 -webkit-font-smoothing: antialiased;
//                 -moz-osx-font-smoothing: grayscale;
//             }
//         }
//         &.slick-active button:before {
//             color: $slick-dot-color-active;
//             opacity: $slick-opacity-default;
//         }
//     }
// }