$primary-color-90-lighter: #eceff0;
$primary-color-75-lighter: #d0d5d9;
$primary-color-50-lighter: #a1acb4;
$primary-color-25-lighter: #71828e;
$primary-color-25-darker: #31424e;
$primary-color-50-darker: #212c34;

$secondary-color-90-lighter: #fff9ee;
$secondary-color-75-lighter: #ffefd2;
$secondary-color-50-lighter: #ffdfa6;
$secondary-color-25-lighter: #fecf7a;
$secondary-color-25-darker: #be8f3a;
$secondary-color-50-darker: #7f5f26;

$asset-path: "..";

$transition-time: 0.3s;

$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;