.env
.DS_Store
index.php
node_modules
npm-debug.log
bower_components
package-lock.json
*.swp
.cache
.idea

composer.json
composer.lock
config/
craft
craft.bat
etc/
modules/
storage/
vendor/
yarn.lock
web/images/
web/imager/
index.php
readme.txt
CHANGELOG.md
htaccess
.htaccess
web.config
*.sublime-project
*.sublime-workspace
