<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<koken:meta />
		<koken:title />
		<koken:asset file="assets/css/app.css" />
	</head>
	<body class="login">
		<koken:include file="partials/svg.html" />
		<header class="login-header">
			<koken:link to="front" title="{{ labels.home.singular }}" class="logo-link">
				<koken:asset file="assets/images/logo.png" class="main-logo" alt="{{ site.title }}" />
	        </koken:link>
		</header>