<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ location.theme_path }}/assets/images/favicon.ico" type="image/x-icon">
	    <link rel="apple-touch-icon" href="{{ location.theme_path }}/assets/images/apple-touch-icon.png">
	    <link rel="apple-touch-icon" sizes="57x57" href="{{ location.theme_path }}/assets/images/apple-touch-icon-57x57.png">
	    <link rel="apple-touch-icon" sizes="72x72" href="{{ location.theme_path }}/assets/images/apple-touch-icon-72x72.png">
	    <link rel="apple-touch-icon" sizes="76x76" href="{{ location.theme_path }}/assets/images/apple-touch-icon-76x76.png">
	    <link rel="apple-touch-icon" sizes="114x114" href="{{ location.theme_path }}/assets/images/apple-touch-icon-114x114.png">
	    <link rel="apple-touch-icon" sizes="120x120" href="{{ location.theme_path }}/assets/images/apple-touch-icon-120x120.png">
	    <link rel="apple-touch-icon" sizes="144x144" href="{{ location.theme_path }}/assets/images/apple-touch-icon-144x144.png">
	    <link rel="apple-touch-icon" sizes="152x152" href="{{ location.theme_path }}/assets/images/apple-touch-icon-152x152.png">
	    <link rel="apple-touch-icon" sizes="180x180" href="{{ location.theme_path }}/assets/images/apple-touch-icon-180x180.png">
		<koken:meta />
		<koken:title />
		<koken:asset file="assets/css/app.css" />
	</head>
	<body class="login">
		<koken:include file="partials/svg.html" />
		<header class="login-header">
			<koken:link to="front" title="{{ labels.home.singular }}" class="logo-link">
				<koken:asset file="assets/images/logo.png" class="main-logo" alt="{{ site.title }}" width="1434" height="676" />
	        </koken:link>
		</header>