      <footer class="main-footer" itemscope itemtype="http://schema.org/WPFooter">
        <p>{{ site.copyright }}</p>
        <nav class="footer-nav">
          <koken:navigation group="footer" class="menu" />
        </nav>
        <div class="scroll-up-container">
          <a class="scroll-up" href="#top">
            <svg class="icon icon-scroll-down"><use xlink:href="#icon-scroll-down"></use></svg>
          </a>
        </div>
      </footer>
    </div>
  </div>
</div>
<koken:asset file="assets/js/min/app-min.js" />