<!DOCTYPE html>
<html>
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ location.theme_path }}/assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="{{ location.theme_path }}/assets/images/favicon-64x64.png" sizes="64x64">
        <link rel="icon" type="image/png" href="{{ location.theme_path }}/assets/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ location.theme_path }}/assets/images/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="{{ location.theme_path }}/assets/images/manifest.json">
        <link rel="mask-icon" href="{{ location.theme_path }}/assets/images/safari-pinned-tab.svg" color="#be8f3a">
        <meta name="theme-color" content="#ffffff">
		<koken:meta />
		<koken:title />
		<koken:asset file="assets/css/app.css" />
		<!-- <koken:settings /> -->
	</head>
	<body itemscope itemtype="http://schema.org/WebPage">
		<koken:include file="partials/svg.html" />
		<!--[if lte IE 9]><p class="old-browser-notice">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> to experience this site.</p><![endif]-->
		<noscript><h1>To access all of the features of this website, please enable JavaScript in your browser. Thank you.</h1></noscript>
		<div id="top" class="off-canvas-wrapper animsition">
			<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
				<koken:include file="partials/side-navigation.html" />
				<div class="off-canvas-content" data-off-canvas-content>
					<header class="main-page-header" itemscope itemtype="http://schema.org/WPHeader">
						<div class="top-navigation">
							<div class="top-navigation-left">
								<koken:link to="front" title="{{ labels.home.singular }}" class="logo-link">
									<h1 itemprop="headline">
										<span class="visual-hide">{{ site.title }}</span>
										<koken:asset file="assets/images/logo.png" class="main-logo" alt="{{ site.title }}" width="1434" height="676" />
									</h1>
								</koken:link>
							</div>
							<div class="top-navigation-right">
								<koken:include file="partials/navigation.html" />
							</div>
						</div>
						<button class="hamburger" type="button" data-toggle="offCanvasRight">
							<span class="bar"></span>
						</button>
					</header>