// animations

@keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}

}

@keyframes fadeInUpVCentre {

	from {
		opacity: 0;
		transform: translate3d(-50%, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(-50%, 0, 0);
	}

}

@keyframes fadeInUp {

	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

@keyframes fadeInDown {

	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

@keyframes fadeOutDown {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

}

@keyframes moveInUp {

	from {
		opacity: 0;
		transform: translate3d(0, rem-calc(20), 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

@keyframes pointer {

	0%,
	100% {
		transform: translate3d(-10%, 0, 0) rotate(-90deg);
		visibility: visible;
	}

	50% {
		transform: translate3d(0, 0, 0) rotate(-90deg);
	}

}