// animations

@mixin loop {
	animation-iteration-count: infinite;
}

@keyframes flash {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,75% {
		opacity: 0;
	}

}

@mixin flash {
	animation-name: flash;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	backface-visibility: hidden;
}

@keyframes fadeInUp {

	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

@mixin fadeInUp {
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeInDown {

	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

@mixin fadeInDown {
	animation-name: fadeInDown;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeOutDown {

	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

}

@mixin fadeOutDown {
	animation-name: fadeOutDown;
  	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes moveInUp {

	from {
		opacity: 0;
		transform: translate3d(0, rem-calc(20), 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

@mixin moveInUp {
	animation-name: moveInUp;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes pointer {

	0%,
	100% {
		transform: translate3d(-10%, 0, 0) rotate(-90deg);
		visibility: visible;
	}

	50% {
		transform: translate3d(0, 0, 0) rotate(-90deg);
	}

}

@mixin pointer {
 	animation-name: pointer;
	animation-duration: 2s;
	animation-fill-mode: both;
}