// main sections on home page

.slides-container {
	position: relative;
}

.main-slide,
.main-background {
	@include full-width-height;
}

.main-background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
	background-attachment: fixed;

	@include breakpoint(small down) {
		background-attachment: scroll;
	}

	#Weddings & {
	background-color: rgb(168, 171, 173);
	}

	#Engagements & {
		background-color: rgb(69, 62, 42);
	}

	#Families & {
		background-color: rgb(188, 166, 151);
	}

	#Personal & {
		background-color: rgb(88, 166, 51);
	}

}

.main-title,
.gallery-container {
	height: rem-calc(400);

	@include breakpoint(small only) {
		height: rem-calc(250);
	}

	@include medium-landscape {
		height: rem-calc(250);
	}

}

.main-title {
	@include vertical-center;
	filter: blur(0);
	width: 100%;
	background: rgba($white, 0.4);
	text-align: right;
	transition: background $transition-time;

	h2 {
		color: $black;
		@include vertical-center;
		right: rem-calc(map-deep-get($grid-column-gutter, 'medium'));
		margin: 0;

		@include breakpoint(small only) {
			right: 0;
		}

	}

	img {
		max-height: rem-calc(130);
		margin-right: rem-calc(30);

		@include breakpoint(small only) {
			width: rem-calc(250);
			margin-right: 0;
		}

	}

	.icon-scroll-down {
		font-size: rem-calc(50);
		@include pointer;
		@include loop;
	}

}

.gallery-trigger {

	&:hover,
	&:focus {

		.main-title {
			background: rgba($white, 0.6);
		}

	}

}

.gallery-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%) translateX(100%);
	transition: transform $transition-time;

	&.mover-over {
		transform: translateY(-50%) translateX(0%);
	}

}