// main sections on home page

.slides-container {
	position: relative;
}

.main-slide,
.main-background {
	@include full-width-height;
}

.main-background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	background-attachment: fixed;

	@include breakpoint(medium down) {
		background-attachment: scroll;
	}

}

.main-title,
.gallery-container {
	height: rem-calc(400);

	@include breakpoint(small only) {
		height: rem-calc(250);
	}

}

.main-title {
	@include vertical-center;
	width: 100%;
	background: rgba($white, 0.4);
	text-align: right;
	transition: background $transition-time;

	h2 {
		color: $black;
		font-size: 0;
		@include vertical-center;
		right: $grid-column-gutter;
		margin: 0;

		@include breakpoint(small only) {
			right: 0;
		}

	}

	img {
		max-height: rem-calc(130);
		margin-right: rem-calc(30);

		@include breakpoint(small only) {
			width: rem-calc(250);
			margin-right: 0;
		}

	}

	.icon-scroll-down {
		font-size: rem-calc(50);
		@include pointer;
		@include loop;
	}

}

.gallery-trigger {

	&:hover,
	&:focus {
		
		.main-title {
			background: rgba($white, 0.6);
		}

	}

}

.gallery-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%) translateX(100%);
	transition: transform $transition-time;

	&.mover-over {
		transform: translateY(-50%) translateX(0%);
	}

}