// off-canvas menu

.hamburger {
	transition: 0.1s transform linear;
	position: absolute;
	top: rem-calc(32);
	right: rem-calc(map-deep-get($grid-column-gutter, 'medium') / 2);
	height: rem-calc(43);
	width: rem-calc(43);
	z-index: 99999;
	outline: 0;
	padding: 0;
	border: 0;
	@extend .hide-for-large;
	cursor: pointer;
}

.bar {
	&,
	&::before,
	&::after {
		transition:
			0.2s background linear 0.1s,
			0.2s top linear 0.2s,
			0.2s transform linear;
		position: absolute;
		background: $primary-color;
		margin: auto;
		width: 100%;
		height: rem-calc(1.5);
		content: '';
		top: 50%;
		left: 0;
	}

	.k-lens-error & {

		&,
		&::before,
		&::after {
			background: $primary-color-50-lighter;
		}

	}

	& {
		margin-top: rem-calc(-3);
	}

	&::before {
		top: rem-calc(-15);
	}

	&::after {
		top: rem-calc(15);
	}

	&::before,
	&::after {
		transform: rotate(0deg);
	}

	.active & {
		background: 0;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			top: 0;
		}

		&,
		&::before,
		&::after {
			transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
		}

	}

}

.position-right {
	padding: (rem-calc(48) / 2);

	@include breakpoint(medium up) {
		padding: rem-calc(48);
		width: 400px;
		transform: translateX(400px);
	}

	&.is-open ~ .off-canvas-content {

		@include breakpoint(medium up) {
			transform: translateX(-400px);
		}

	}

}

.side-nav {

	&.active {

		@for $i from 1 through 10 {

			> li:nth-child(#{$i}) {
				animation-delay:(#{-0.25s + $i * 0.25s});
			}

		}

	}

	a {
		font-weight: 300;
		font-style: normal;
		font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h1', 'font-size') * 1px);
		color: $primary-color;
		text-transform: capitalize;
		display: table;
		white-space: nowrap;

		@include breakpoint(small only) {
			font-size: rem-calc(map-deep-get($header-styles, 'medium', 'h3', 'font-size') * 1px);
		}

		&.k-nav-current,
		&:hover {
			color: $primary-color-50-lighter;
		}

		&:focus {
			color: inherit;
		}

	}

}