// general page styles

.page-title {
	text-align: center;
	margin-bottom: rem-calc(30);
}

.title-flourish {
	width: rem-calc(100);
	height: rem-calc(20);
	fill: $header-small-font-color;
}

.content {
	padding-top: rem-calc(48);
	padding-bottom: rem-calc(48);

	p {
		opacity: 0;

		&:nth-child(2) {
			animation-delay: 0.25s;
		}

		&:nth-child(3) {
			animation-delay: 0.375s;
		}

		&:nth-child(4) {
			animation-delay: 0.5s;
		}

		&:nth-child(5) {
			animation-delay: 0.625s;
		}

		&:nth-child(6) {
			animation-delay: 0.75s;
		}

		&:nth-child(7) {
			animation-delay: 0.875s;
		}

		&:nth-child(8) {
			animation-delay: 1s;
		}

		&:nth-child(9) {
			animation-delay: 1.125s;
		}

		&:nth-child(10) {
			animation-delay: 1.25s;
		}

		&:nth-child(11) {
			animation-delay: 1.375s;
		}

		&:nth-child(12) {
			animation-delay: 1.5s;
		}

		&:nth-child(13) {
			animation-delay: 1.625s;
		}

		&:nth-child(14) {
			animation-delay: 1.725s;
		}

		&:nth-child(15) {
			animation-delay: 1.875s;
		}

	}

}

.regular-page,
.login-form {

	.content {

		a {
			overflow: hidden;
			font-weight: $global-weight-bold;
			position: relative;
			display: inline-block;
			vertical-align: bottom;
			white-space: nowrap;

			&:hover,
			&:focus {
				color: $primary-color;

				&:before,
				&:after {
					transform: translateX(0);
				}
	
				&:before {
					transition-delay: 0s;
				}

				&:after {
					transition-delay: $transition-time;
				}

			}

			&:before,
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				transition: transform $transition-time;
				pointer-events: none;
				backface-visibility: hidden;
				font-smoothing: antialiased;
			}

			&:before {
				border-top: 1px solid $anchor-color-hover;
				background: transparent;
				transition-delay: $transition-time;
				transform: translateY( 95% );
			}

			&:after {
				z-index: -1;
				background: rgba($anchor-color-hover, 0.9);
				transform: translateY(-100%);
			}

		}

	}

}

// split sections

.split-boxes {
	@include clearfix;
	margin-top: rem-calc(75);
}

.row-split {
	max-width: ($global-width / 2 - rem-calc($grid-column-gutter));
	width: 100%;

	@include breakpoint(small only) {
		max-width: $global-width;
	}

}

.split-box-left,
.split-box-right {
	position: relative;
	z-index: 1;
	min-height: rem-calc(645);
}

.split-box-left {

	.row-split {
		float: right;
	}

	@include breakpoint(small only) {
		height: auto;
	}

}

.split-box-right {

	.row-split {
		float: left;
	}

}

.split-page-bg {
	position: relative;

	.bg-overlay {
		background: 
	  		linear-gradient(to right, rgba($black, 0.3) 0%, rgba($black, 0.3) 100%);
	  	position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}

}

// who we are page

.who-we-are-page {

	.split-box-left {
	 	background-color: $primary-color-90-lighter;
	}

	.split-box-right {
		@include full-bg-img;
	}

}

// pricing page

.pricing-page {

	.split-box-left {
	 	background-color: $primary-color-90-lighter;
	}

	.split-box-right {
		@include full-bg-img;
	}

}

// contact page

.contact-page {

	.split-box-left {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: $white;
	}

	.split-box-right {
		background-color: $primary-color-90-lighter;
	}

}

.column-collapse,
.columns-collapse {
	padding-left: 0;
	padding-right: 0;
}

// login form

.login {
	overflow-x: hidden;
	height: auto;
	background: url(../images/login-page.jpg) center no-repeat;
	background-size: cover;
}

.login-form {
	margin-top: rem-calc(60);
	background-color: rgba($white, 0.7);
	padding: rem-calc($grid-column-gutter / 2);
	text-align: center;
	position: relative;
	z-index: 1;
	
	.content {
		padding: 0;
	}

}

.bg-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba($primary-color, 0.8);
	z-index: -999;
}