// general page styles

.k-note {
	@extend .text-center;
}

.page-title-container {
	text-align: center;
	background-image: url(#{$asset-path}/images/splatter.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: rem-calc(275);

	@include breakpoint(small only) {
		background-size: 50vw;
	}

	svg {
		height: 8em;
		width: 100%;
	}

	text {
		text-anchor: middle;
	}

}

.page-title-svg,
.page-title {
	font-family: pleasures;
	text-transform: lowercase;
	font-size: rem-calc(100);
	white-space: nowrap;

	@include breakpoint(small only) {
		font-size: 18vw;
	}

}

.page-title {
	color: $black;
	-webkit-text-fill-color: transparent;
	background: url(#{$asset-path}/images/inkbg.jpg) repeat;
  	-webkit-background-clip: text;
  	background-size: 50%;
}

.set-title-container {
	@extend .text-center;

	img {
		width: auto;
		height: rem-calc(110);
		margin-top: rem-calc(10);
		margin-bottom: rem-calc(-10);

		@include breakpoint(small only) {
			width: auto;
			height: 20vw;
		}

	}

}

.content {
	padding-top: rem-calc(48);
	padding-bottom: rem-calc(48);

	p {
		opacity: 0;

		@for $i from 1 through 15 {

			&:nth-child(#{$i}) {
				animation-delay:(#{0s + $i * 0.125s});
			}

		}

	}

	a {
		overflow: hidden;
		font-weight: $global-weight-bold;
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		white-space: nowrap;

		&:hover,
		&:focus {
			color: $primary-color;

			&:before,
			&:after {
				transform: translateX(0);
			}

			&:before {
				transition-delay: 0s;
			}

			&:after {
				transition-delay: $transition-time;
			}

		}

		&:before,
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			transition: transform $transition-time;
			pointer-events: none;
			backface-visibility: hidden;
			font-smoothing: antialiased;
		}

		&:before {
			border-top: 1px solid $anchor-color-hover;
			background: transparent;
			transition-delay: $transition-time;
			transform: translateY( 95% );
		}

		&:after {
			z-index: -1;
			background: rgba($anchor-color-hover, 0.9);
			transform: translateY(-100%);
		}

	}

}

// split sections

.split-boxes {
	@include clearfix;
	margin-top: rem-calc(75);
	display: flex;
	flex-direction: row;

	@include breakpoint(small only) {
		flex-direction: column;
	}

}

.split-box-left,
.split-box-right {
	position: relative;
	z-index: 0;
	min-height: rem-calc(645);
}

.split-box-left {

	@include breakpoint(small only) {
		height: auto;
	}

}

.split-page-bg {
	position: relative;
}

// who we are page / pricing pages

.who-we-are-page,
.pricing-page {

	.split-box-left {
	 	background-color: $primary-color-90-lighter;
	}

	.split-box-right {
		@include full-bg-img;
	}

}

// contact page

.contact-page {

	.split-box-left {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		color: $white;
	}

	.split-box-right {
		background-color: $primary-color-90-lighter;
	}

}

.column-collapse,
.columns-collapse {
	padding-left: 0;
	padding-right: 0;
}

// login form

.login {
	overflow-x: hidden;
}

.login-form {
	margin: rem-calc(60 0);
	background-color: $primary-color-90-lighter;
	padding: rem-calc($grid-column-gutter / 2);
	text-align: center;
	position: relative;
	z-index: 1;

	.content {
		padding: 0;
	}

}

.bg-overlay {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -999;
	background:
  		linear-gradient(to right, rgba($black, 0.3) 0%, rgba($black, 0.3) 100%);
  	position: absolute;
}