@font-face {
	font-family: Titillium;
	src: url('fonts/Titillium-Bold-webfont.woff') format('woff');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: Titillium;
	src: url('fonts/Titillium-RegularItalic-webfont.woff') format('woff');
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: Titillium;
	src: url('fonts/Titillium-Regular-webfont.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: Titillium;
	src: url('fonts/Titillium-BoldItalic-webfont.woff') format('woff');
	font-style: italic;
	font-weight: bold;
	font-display: swap;
}

@font-face {
	font-family: Titillium;
	src: url('fonts/Titillium-LightItalic-webfont.woff') format('woff');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: Titillium;
	src: url('fonts/Titillium-Light-webfont.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
    font-family: pleasures;
    src: url('fonts/Pleasures.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}