// animations

@mixin loop {
	animation-iteration-count: infinite;
}

@keyframes flash {
	0%, 50%, 100% {opacity: 1;}
	25%, 75% {opacity: 0;}
}

@mixin flash {
	animation-name: flash;
	animation-duration: 4s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	backface-visibility: hidden;
}