// footer

.main-footer {
	text-align: center;
	padding: rem-calc(40 0 45);

	a {
		color: $secondary-color;

		&:hover,
		&:focus {
			color: $secondary-color-25-darker;
		}

	}

}

.footer-nav {

	a {
		font-weight: $global-weight-bold;
		font-size: rem-calc(30);
		padding-right: rem-calc(5);

		&:last-child {
			padding-right: 0;
		}

	}

}

.scroll-top {
	font-size: rem-calc(60);

	a {
		color: $anchor-color;
		height: rem-calc(30);

		&:hover,
		&:focus {
			color: $anchor-color-hover;
		}

	}
	
	.icon-scroll-down {
		transform: rotate(180deg);
	}

}