// gallery styles

.gallery-item {
	position: relative;
}

.grid-overlay-link {

	&:hover {

		.grid-overlay {
			opacity: 1;
		}

	}

}

.grid-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba($white, 0.8);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity $transition-time;
	color: $primary-color;

	h3 {
		text-transform: uppercase;
		@include horizontal-center;
		bottom: rem-calc(100);
		white-space: nowrap;

		@include breakpoint(medium down) {
			bottom: 20%;
			white-space: normal;
		}

	}

}

// gallery page

.gallery-page {

	.content {
		text-align: center;
	}
	
	// .grid-overlay {

	// 	h3 {
	// 		bottom: 50%;
	// 		transform: translateX(-50%) translateY(50%);

	// 		@include breakpoint(medium only) {
	// 			bottom: 50%;
	// 		}

	// 		@include breakpoint(small only) {
	// 			bottom: 50%;
	// 		}

	// 		@include medium-landscape {
	// 			font-size: header-size(medium, h4);
	// 		}

	// 	}

	// }

}

.gallery-page-header-container {
	margin: 0 auto;
	width: rem-calc(238);
	height: rem-calc(238);
	position: relative;
}

.gallery-page-header {
	text-align: center;
	text-transform: uppercase;
	color: $white;
	font-size: header-size(medium, h3);
	word-spacing: rem-calc(238);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@include small-portrait {
		margin-top: 0;
	}

}

.gallery-page-header-background {
	position: relative;

	&:before {
		content: '';
		background-image: url('#{$asset-path}/images/paint-splatter.png');
		background-position: center rem-calc(-55);
		background-repeat: no-repeat;
		background-size: rem-calc(960);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -999;
		left: rem-calc(15);
	}

}

.gallery-container-page {
	margin-top: rem-calc(75);

	img {
		height: rem-calc(400);

		@include breakpoint(small only) {
			height: rem-calc(200);
		}

		@media screen and ( max-height: -zf-bp-to-em(500) ){
		    height: rem-calc(200);
		}

	}

}

// grid

.image-items-list {

	img {
		
		&.portrait {
			width: 50%;
			float: left;
		}

		&.landscape {
			width: 100%;
		}

	}

}