// main sections on home page

.slides-container {
	position: relative;
}

.main-slide,
.main-background {
	@include full-width-height;
}

.main-background {
	@include full-bg-img;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.main-title,
.gallery-container {
	height: rem-calc(400);

	@include breakpoint(small only) {
		height: rem-calc(200);
	}

	@media screen and ( max-height: -zf-bp-to-em(500) ){
	    height: rem-calc(200);
	}

}

.main-title {
	@include vertical-center;
	width: 100%;
	background: rgba($white, 0.4);
	text-align: right;
	transition: background $transition-time;

	h2 {
		color: $black;
		font-size: rem-calc(50);
		@include vertical-center;
		right: $grid-column-gutter;
		margin: 0;

		@include breakpoint(small only) {
			right: 0;
		}

	}

	img {
		max-height: rem-calc(130);
		margin-right: rem-calc(30);

		@include breakpoint(small only) {
			width: rem-calc(250);
			margin-right: 0;
		}

	}

	.icon-scroll-down {
		transform: rotate(-90deg);
		color: $black;
	}

}

.gallery-trigger {

	&:hover,
	&:focus {
		
		.main-title {
			background: rgba($white, 0.6);
		}

	}

}

.gallery-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%) translateX(100%);
	transition: transform $transition-time;

	img {
		height: rem-calc(400);

		@include breakpoint(small only) {
			height: rem-calc(200);
		}

		@media screen and ( max-height: -zf-bp-to-em(500) ){
		    height: rem-calc(200);
		}

	}

	&.mover-over {
		transform: translateY(-50%) translateX(0%);
	}

}

#weddings {

	.main-background {
		background-image: url('../../uploads/4001_MG_5056.jpg');
	}

}

#engagements {

	.main-background {
		background-image: url('../../uploads/_MG_3182.jpg');
	}

}

#families {

	.main-background {
		background-image: url('../../uploads/IMG_1100.jpg');
	}

}

#personal {

	.main-background {
		background-image: url('../../uploads/_MG_2396.jpg');
	}

}