// general page styles

.page-title {
	text-align: center;
	margin-bottom: rem-calc(30);
}

.title-flourish {
	width: rem-calc(100);
	height: rem-calc(20);
	fill: $header-small-font-color;
}

.content {
	padding-top: rem-calc(48);
	padding-bottom: rem-calc(48);
}

.regular-page {

	.content {

		a {
			overflow: hidden;
			font-weight: $global-weight-bold;
			position: relative;
			display: inline-block;
			vertical-align: bottom;
			white-space: nowrap;

			&:hover,
			&:focus {
				color: $primary-color;

				&:before,
				&:after {
					transform: translateX(0);
				}
	
				&:before {
					transition-delay: 0s;
				}

				&:after {
					transition-delay: $transition-time;
				}

			}

			&:before,
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				transition: transform $transition-time;
				pointer-events: none;
				backface-visibility: hidden;
				font-smoothing: antialiased;
			}

			&:before {
				border-top: 1px solid $anchor-color-hover;
				background: transparent;
				transition-delay: $transition-time;
				transform: translateY( calc(100% - 2px) );
			}

			&:after {
				z-index: -1;
				background: rgba($anchor-color-hover, 0.9);
				transform: translateY(-100%);
			}

		}

	}

}

// split sections

.split-boxes {
	@include clearfix;
	margin-top: rem-calc(75);
}

.row-split {
	max-width: ($global-width / 2 - rem-calc($grid-column-gutter));
	width: 100%;

	@include breakpoint(small only) {
		max-width: $global-width;
	}

}

.split-box-left,
.split-box-right {
	position: relative;
	z-index: 1;
	min-height: rem-calc(645);
}

.split-box-left {

	.row-split {
		float: right;
	}

	@include breakpoint(small only) {
		height: auto;
	}

}

.split-box-right {

	.row-split {
		float: left;
	}

}

// who we are page

.who-we-are-page {

	.split-box-left {
	  background-color: $primary-color-90-lighter;
	}

	.split-box-right {
		@include full-bg-img;
		background-image: url('../../uploads/ABOUT_ME_PHOTOS.jpg');
	}

}

// pricing page

.pricing-page {

	.split-box-left {
	  background-color: $primary-color-90-lighter;
	}

	.split-box-right {
		@include full-bg-img;
		background-image: url('../../uploads/pricing-page-bg.jpg');
	}

}

// contact page

.contact-page {

	.split-box-left {
		background: 
	  		linear-gradient(to right, rgba($black, 0.3) 0%, rgba($black, 0.3) 100%),
	  		url('../../uploads/contact-bg.jpg') center / cover;
		color: $white;
	}

	.split-box-right {
		background-color: $primary-color-90-lighter;
	}

}