@import "webfonts";
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// INDEX OF ANIMATIONS
// This is a port of Den Eden's Animate.css, converted for SASS.
// Source: https://daneden.me/animate/
//
// @import this index into your project.
// Comment out categories below to remove them from your project.
// Or, @import specific partials (e.g. @import "_attention/_bounce.scss";
// 
//-----------------------------------------------------------------------

// Always required
@import 
  "_properties";

// Import the animations
@import 
  // "_attention/attention.scss",
  // "_bouncing-entrances/bouncing-entrances.scss",
  // "_bouncing-exits/bouncing-exits.scss",
  "_fading-entrances/fading-entrances.scss"
  // "_fading-exits/fading-exits.scss",
  // "_flippers/flippers.scss",
  // "_lightspeed/lightspeed.scss",
  // "_rotating-entrances/rotating-entrances.scss",
  // "_rotating-exits/rotating-exits.scss",
  // "_specials/specials.scss"
;

@import "custom";
