<nav class="main-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
	{% if entry.slug == 'homepage' %}
		{{ craft.amNav.getNav('main', {
			class: 'menu align-center',
			id: ''
		}) }}
	{% else %}
		{{ craft.amNav.getNav('main', {
			class: 'menu',
			id: 'main'
		}) }}
	{% endif %}
</nav>